div.footer
  div.footer__container
    div.footer__div
      p.footer__paragraph-title Support details
      p.footer__paragraph 1300290201<br> support@enterprisewireless.com.au
    div.footer__div
      p.footer__paragraph-title Build ID
      p.footer__paragraph {{buildId}}
    div.footer__div
      p.footer__paragraph-title Install ID
      p.footer__paragraph {{installId}}