div.navbar-login
        div
            a(href='/')
                img.navbar-login__logo(src='/images/corpcloud-logo.png')
        div.navbar-login__title
            h1 Cloud Hotel Management System