html
    title Login
    style
        include style.scss 

    body(class='background')
        div(class='userpass')
            form(class='formLogin' method='POST', action='/auth')
                h1(class='title-header') Login
                div(class='loginDiv') 
                    label(class='paragraph') Username: 
                    input(class='inputLogin' type='text' id='username', placeholder='Username', name='username', value='', required)
                div(class='loginLabel')
                    label(class='paragraph' for='password') Password: 
                    input(class='inputLogin' type='password', id='password', placeholder='Password', name='password', value='', required)
                button.btn.btn-primary(class='loginButton' type='submit' value='connecting') Log in
