html
    title Login
    style
        include style.scss 

    body(class='background-login')
        div(class='userpass')
            form(class='form-login' method='POST', action='/auth')
                h1(class='title-header') Login
                div(class='login-div') 
                    label(class='paragraph') Username: 
                    input(class='input-login' type='text' id='username', placeholder='Username', name='username', value='', required)
                div(class='login-label')
                    label(class='paragraph' for='password') Password: 
                    input(class='input-login' type='password', id='password', placeholder='Password', name='password', value='', required)
                button(class='login-button' type='submit' value='connecting') Log in
