html 
  style 
    include style.scss
include navbar.pug
div(class='body-content')
    h1(class='head-top') Welcome to the health check page
    p(class='paragraph') The health check is displayed below!
     
    each check in healthcheck
        ul(class='health-page') uptime: #{check.uptime}
        ul(class='health-page') message: #{check.message} 
        ul(class='health-page') time stamp: #{check.timestamp}
            
                    