html
  title Health Check
  style 
    include style.scss
  head
    include navbar.pug
  body(class='background-health-check')
      h1(class='title') Health Check
      table(class='table')
        tr(class='thead')
          th(class='table-titles') Uptime
          th(class='table-titles') Status
          th(class='table-titles') Time
        each check in healthcheck
          tr
            th(class='table-items') #{check.uptime}
            th(class='table-items') #{check.message}
            th(class='table-items') #{check.timestamp}
