html
  title Home
  style 
    include style.scss
  head
    include navbar.pug
  body(class='background')
    h1(class='title') Devices
    table(class='table')
      tr(class='thead')
        th(class='table-titles') IP address 
        th(class='table-titles') Status 
      each key in Object.keys(status)
        tr(class='table-tr') 
          th(class='table-items')= key
          th(class='table-items')= status[key].state

