html
  title Jobs
  style 
    include style.scss
  head
    include navbar.pug
  body(class='background-jobs')
    h1(class='title') Jobs
    table(class='table')
      tr(class='thead')
        th(class='table-titles') Job ID 
        th(class='table-titles') Completed
      each job in jobs
        tr(class='table-tr')
          th(class='table-items')=job.jobId
          th(class='table-items')=job.hasFinished
