div(class='navbar')
    a(class='a-navbar' href='/') Home              
    a(class='a-navbar' href='/emergency') Emergency
    a(class='a-navbar' href='/jobpage') Jobs           
    a(class='a-navbar' href='/healthcheckpage') Health Check
    div.dropdown
      button.dropbtn Settings
      div(class='dropdown-content')
        a(href='/scanner') Scanner Settings
        a(href='/password') Change Password    
    a(class='a-navbar' href='/logs') System Log
    a(class='a-navbar' href='/candidates') Candidates
    a(class='a-navbar' href='/assets') Asset Page
