div(class='navbar')
    a(class='a-navbar' href='/') Home Page              
    a(class='a-navbar' href='/jobpage') JobPage           
    a(class='a-navbar' href='healthcheckpage') Health Check
    a(class='a-navbar' href='/scanner') Scanner Settings Page   