html 
    style
        include style.scss 
    
    body 
        div(id='userpass')    
            form(method='POST', action='/password', id='userpass')
             
                div 
                    label(for='originalPassword') Current Password 
                    input(type='password', id='originalPassword', placeholder='Current Password', name='originalPassword', required)
                div
                    label(for='password') Change Password
                    input(type='password', id='password', placeholder='password', name='password', onchange='validate()', required)
                div
                    label(for='confirmPassword') Confirm Password
                    input(type='password', id='confirmPassword', placeholder='Confirm Password', name='confirmPassword', onchange='validate()', required)
                div(id='password-match-warning', hidden=true) Password does not match lol :)
                div(id='password-length-warning', hidden=true) Password has to be more then 8 
                button.btn.btn-primary(type='submit', id='myButton') Submit
                   
               

    script 
        include checker.js
