html
    title Scanner
    style 
        include style.scss
    script 
        include scanner.js
    head
        include navbar.pug
    body(class='background-scanner')
      h1(class='title') Scanner Settings
      form(class='background-form ' action="/scanner" method="POST") 
        div(class='scanner-div')
            div(class='scanner-columns' id='IPS')
                h2(class='head-top') IP Addresses
                div(class='add-div')
                    button( class='scanner-buttons' type="button" onclick="addTextbox('IPS', 'ipAddresses', 'x.x.x.x')") Add
                each ip in scannerSettings.addresses
                    div(class='input-div' id='ips-div')
                        input(value= ip placeholder='x.x.x.x' class='input-field' type='text' name='ipAddresses[]')
                        button(class='scanner-buttons' onclick="deleteTextbox('ips-div')") Delete
                each invalidIp in invalidData && invalidData.invalidIps ? invalidData.invalidIps : []
                    p(class='error')= invalidIp
            div(class='scanner-columns' id='Ranges')
                h2(class='head-top') IP Ranges
                div(class='add-div')
                    button( class='scanner-buttons' type="button" onclick="addTextbox('Ranges', 'ipRanges', 'x.x.x.x-x.x.x.x')") Add
                each range in scannerSettings.ranges
                    div(class='input-div' id='ranges-div')
                        input(value= range placeholder='x.x.x.x-x.x.x.x' class='input-field' type='text' name='ipRanges[]')
                        button(class='scanner-buttons' onclick="deleteTextbox('ranges-div')") Delete
                each invalidRange in invalidData && invalidData.invalidRanges ? invalidData.invalidRanges : []
                    p(class='error')= invalidRange
            div(class='scanner-columns' id='Netmask')
                h2(class='head-top') IP Netmask
                div(class='add-div')
                    button(class='scanner-buttons' type="button" onclick="addTextbox('Netmask', 'ipNetmasks', 'x.x.x.x/x')") Add
                each network in scannerSettings.networks
                    div(class='input-div' id='netmask-div')
                        input(value= network placeholder='x.x.x.x/x' class='input-field' type='text' name='ipNetmasks[]')
                        button(class='scanner-buttons' onclick="deleteTextbox('netmask-div')") Delete
                each invalidMask in invalidData && invalidData.invalidNetmasks ? invalidData.invalidNetmasks : []
                    p(class='error')= invalidMask
        div(class='scanner-save')
            button(class='scanner-buttons', type='submit') Save
            