.title-header {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.head-top {
  font-family: sans-serif;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: white;
}
.paragraph {
  font-family: sans-serif;
  color: black;
  display: flex;
  margin-bottom: 10px;
}

.title {
  font-family: sans-serif;
  font-weight: 700;
  color: white;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 10px;
}

.table-titles {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: sans-serif;
}

.table-items {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-family: sans-serif;
  font-weight: lighter;
}

.table-items__highlight-red {
  color: red;
}

.thead {
  background-color: #55608f;
}

.background {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.background-jobs {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 98.3%;
}

.background-health-check {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 98.3%;
}

.background-scanner {
  background: linear-gradient(
    to right,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.health-page {
  font-family: sans-serif;
  display: inline-flexbox;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.a-navbar {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  background-color: transparent;
  color: white;
  border-radius: 5px;
}

.a-navbar:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

.emergency-button {
  color: red;
  border-radius: 10px;
  height: 50%;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.form-login {
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid #ccc;
  height: 400px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 9px black;
  background-color: white;
}

.form-password {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  height: 500px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 9px black;
  background-color: white;
}

.login-div {
  margin-top: 40px;
}

.login-label {
  margin-top: 20px;
}

.scanner-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scanner-columns {
  margin-right: 150px;
}

.scanner-save {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.scanner-buttons {
  background-color: #24a0ed;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  font-weight: 500;
}

.delete-button {
  width: 100px;
  height: 100px;
  background-color: red;
}

.input-div {
  display: flex;
}

.input-field {
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  width: 300px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.background-login {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 70%;
}

.background-password {
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  height: 98.3%;
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  margin-top: 5px;
  font-size: 13px;
}

.input-login {
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.input-field:hover,
.input-login:hover {
  box-shadow: 0 0 5px #888888;
}

.add-div {
  padding-bottom: 10px;
}

.login-button:hover,
.scanner-buttons:hover {
  background-color: white;
  border: 2px solid #24a0ed;
  color: #24a0ed;
}

.login-button {
  background-color: #24a0ed;
  color: white;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 15px;
}

.scannerSave {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.scannerButtons {
  background-color: #24a0ed;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
}

.inputDiv {
  display: flex;
}

.inputField {
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  width: 300px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.error {
  font-family: Arial, Helvetica, sans-serif;
  color: red;
}

.inputLogin {
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
}

.inputField:hover,
.inputLogin:hover {
  box-shadow: 0 0 5px #888888;
}

.addDiv {
  padding-bottom: 10px;
}

.scannerButtons:hover,
.loginButton:hover {
  background-color: white;
  border: 2px solid #24a0ed;
  color: black;
  font-weight: 500;
}

.loginButton {
  background-color: #24a0ed;
  color: white;
  border: none;
  border-radius: 50px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
}

.userpass {
  display: flex;
  margin-top: 15%;
  justify-content: center;
}

.password-head {
  display: flex;
  margin-top: 5%;
  justify-content: center;
}
