html
  title Create New Password
  style
    include style.scss
  head
    include navbar.pug
  body(class='background-password')
    h1(class='head-top') Create New Password
    div(class='password-head')    
      form(class='form-password' method='POST', action='/password')
        div(class='login-div')
          label(class='paragraph' for='originalPassword') Current Password 
          input(class='input-login' type='password', id='originalPassword', placeholder='Current Password', name='originalPassword', required)
        div(class='login-div')
          label(class='paragraph' for='password') Change Password
          input(class='input-login' type='password', id='password', placeholder='New Password', name='password', onchange='validate()', required)
        div(class='login-div')
          label(class='paragraph' for='confirmPassword') Confirm Password
          input(class='input-login' type='password', id='confirmPassword', placeholder='Confirm New Password', name='confirmPassword', onchange='validate()', required)
        div(class='error' id='password-match-warning', hidden=true) Current Password and Confirm Password do not match!
        div(class='error' id='password-length-warning', hidden=true) Password has to be more than 8 characters long
        button(class='login-button' logintype='submit', id='myButton') Submit
    script 
        include ../scripts/change-password.js
