$standard-color: #24a0ed;
$standard-font: 'Roboto', sans-serif;

/* Re-Usable Variables */

.atv-input-field {
  transition: box-shadow 0.3s;
  margin-bottom: 10px;
  width: 300px;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 5px;
}

.atv-input-field:hover {
  box-shadow: 0 0 5px #888888;
}

.atv-button {
  background-color: $standard-color;
  color: white;
  border: none;
  border-radius: 4px;
  height: 40px;
  margin-top: 20px;
  min-width: 120px;
}

.atv-button:hover {
  background-color: white;
  border: 2px solid $standard-color;
  color: $standard-color;
  font-weight: 500;
}

.atv-button:disabled {
  background-color: grey;
}

.atv-button:hover:disabled {
  background-color: white;
  border: 2px solid grey;
  color: grey;
  font-weight: 500;
}

.atv-table {
  border-collapse: collapse;
  overflow: hidden;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 8px;
}

.atv-table-container,
.atv-setting-container {
  padding-bottom: 100px;
}

.atv-table-title {
  padding: 15px;
  background-color: #0081ba;
  color: white;
}

.atv-table-item {
  padding: 15px;
  font-family: sans-serif;
  font-weight: lighter;
  color: black;
  background-color: lightgrey;
}

.atv-table-item__highlight-red {
  color: red;
}

.atv-subtable {
  border-radius: 4px;
  background-color: darkgray;
  padding: 8px;
  font-family: $standard-font;
  font-size: 12px;
  text-align: left;

  th {
    padding: 12px;
    border: 1px solid;
  }
}

.atv-subtable-title {
  padding: 15px;
  background-color: #0081ba;
  color: white;
}

.atv-subtable-item {
  padding: 15px;
  font-family: sans-serif;
  font-weight: lighter;
  color: black;
  background-color: lightgrey;
}

.atv-title {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.atv-background {
  font-family: $standard-font;
  margin-top: 150px;
}

.atv-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.atv-list-container {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.atv-list-container-inner {
  overflow-y: auto;
}

.atv-list {
  margin-right: 5px;
  text-decoration: none;
  color: black;
}

/* Navbar */

.navbar {
  display: flex;
  font-family: $standard-font;
  flex-direction: row;
  color: gray;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #0081ba;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: white;

  &__link {
    padding: 10px;
    text-decoration: none;
    background-color: transparent;
    color: gray;
    margin-right: 10px;
  }

  &__link:hover {
    color: black;
  }

  &__dropdown {
    float: left;
    overflow: hidden;
  }

  &__dropdown &__dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: gray;
    padding: 10px;
    background-color: inherit;
    margin-right: 10px;
  }

  &__dropbtn:hover {
    color: black;
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    color: gray;
    min-width: 160px;
    z-index: 1;
    background-color: white;
    border: 1px solid $standard-color;
    border-radius: 3px;
  }

  &__dropdown-link {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: gray;
  }

  &__dropdown-content a:hover {
    color: black;
  }

  &__dropdown:hover &__dropdown-content {
    display: block;
  }
}

/* Navbar Login */

.navbar-login {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid #0081ba;

  &__title {
    display: flex;
  }

  &__logo {
    position: absolute;
    left: 50;
    top: 22;
    width: 250px;
    height: 55px;
  }

  &__logo:hover {
    opacity: 0.7;
  }
}

/* Footer */

.footer {
  background-color: #333;
  border-top: 2px solid #0081ba;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  left: 0;

  &__container {
    display: flex;
  }

  &__div {
    margin-left: 20px;
  }

  &__paragraph-title {
    color: #ccc;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    left: 0;
    font-size: 13;
    font-weight: 700;
  }

  &__paragraph {
    color: #a2a2a2;
    display: flex;
    margin-bottom: 5px;
    flex-direction: column;
    font-size: 13;
  }
}

/* Login */

.login {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  font-family: $standard-font;

  &__form {
    padding-left: 60px;
    padding-right: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
  }

  &__div {
    margin-top: 40px;
    margin-left: -30px;
    display: flex;
    align-items: baseline;
  }

  &__title {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

/* Emergency */

.emergency__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.emergency__div {
  display: flex;
  flex-direction: row;
}

/* Scanner Settings */

.scanner__div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.scanner__columns {
  margin-left: 20px;
  margin-right: 20px;
}

.scanner__save {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* Password */

.password__form {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  width: 300px;
  border-radius: 4px;
  background-color: white;
}

/* Asset */

.asset__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.asset__columns {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* Candidates */

.candidate__div {
  display: flex;
  justify-content: center;
}

/* User Guide */

.guide__title {
  display: flex;
  font-size: 25px;
}

.guide__container {
  padding-bottom: 100px;
}

/* Screen State */

.screen-state-container-inner {
  overflow-y: auto;
  text-align: center;
}

/* Usage State */

.usage-state-container {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

/* Tasks */
.tasks {
  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__task-input {
    display: flex;
    flex-direction: row;
    align-items: baseline;

    label {
      min-width: 100px;
    }

    input {
      min-width: 520px;
    }
  }

  &__command-input {
    input {
      min-width: 500px;
    }
  }
}

/* Jobs */
.create-job {
  width: 80%;
  &__button-container {
    display: flex;
    justify-content: center;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;

    label {
      min-width: 100px;
    }
  }
}
